/* - Dark Blue (Dark Mode Elements): hsl(209, 23%, 22%)  
- Very Dark Blue (Dark Mode Background): hsl(207, 26%, 17%)  202C37 
- Very Dark Blue (Light Mode Text): hsl(200, 15%, 8%) 111517
- Dark Gray (Light Mode Input): hsl(0, 0%, 52%) 858585
- Very Light Gray (Light Mode Background): hsl(0, 0%, 98%) FAFAFA
- White (Dark Mode Text & Light Mode Elements): hsl(0, 0%, 100%) FFFFFF

- Homepage Items: 14px
- Detail Page: 16px */
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  @apply dark:text-[#FFFFFF] text-[#111517]
}

body{
  font-family: 'Nunito Sans', sans-serif;
  @apply dark:bg-[#202C37] bg-[#FAFAFA] transition-colors duration-200 ease-in-out
}

h1{
  @apply font-[800]
}

h2{
  @apply font-[600]
}

input{
  @apply focus:outline-none;
  
}

